/target/
/node_modules/
src/main/resources/static/built/
package-lock.json
!.mvn/wrapper/maven-wrapper.jar
/sqlite/
src/main/resources/META-INF/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Log file
logFiles/
*.log